@font-face {
  font-family: 'GameOfSquids';
  src: url('./fonts/GameOfSquids-1GMVL.ttf');
  src: url('./fonts/GameOfSquids-1GMVL.ttf') format('truetype')
       url('./fonts/GameOfSquids-1GMVL.woff2') format('woff2')
       url('./fonts/GameOfSquids.woff') format('woff')
       url('./fonts/GameOfSquids.svg') format('svg')
}
body{
  font-family: 'GameOfSquids';
}
.rightman{
  position: absolute;
  left: 77.75vw;
  bottom: 0;
  height: 70vh;
}
.App{
  max-height: 100vh;
  overflow-y: hidden;
}
.piggy{
  position: absolute;
  height: 63vh;
  left: 8vw;
  top: 14vh;
}
.piggy:nth-child(1){
  top: 18.5vh;
  left: 7.5vw;  
  z-index: 6;

}
.piggy:nth-child(2){
  top: 18.5vh;
  left: 7.5vw;  
  z-index: 7;
}

.piggy:nth-child(3){
  z-index: 8;
}
.piggy:nth-child(4){
  z-index: 9;
}
.piggy:nth-child(4){
  z-index: 11;
  opacity: 0.5;
}

.landing, .leaderboard, .questions{
  background: url("./images/bg.png");
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden !important;
}
.login{
  background-color: white;
  margin: auto;
  width: 25%; 
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(152, 149, 149, 0.25);
  border-radius: 45px;
  margin-top: 0;
  min-height: 45vh;
  text-align: center;
}
.register{
  background-color: white;
  margin: auto;
  width: 65%; 
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(152, 149, 149, 0.25);
  border-radius: 45px;
  margin-top: 1.5vh;
  min-height: 45vh;
  text-align: center;
}
.login-profile{
  color: red;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 3%;
  font-family: 'GameOfSquids';
}

.login p, .register p{
  margin: 0 auto;
  text-align: center;
  width: 75%;
  padding-bottom: 0;
}

.login input, .register input{
  background: #313131;
  border-radius: 10px;
  width: 75%;
  line-height: 2.5;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 2vh;
}

.login button, .register button{
  width: 45%;
  background: #FF0C49;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.35rem;
  margin-bottom: 2vh;
  color: #fff;
  padding: 2%;
  font-family: 'GameOfSquids';
}

.login button:hover, .register button:hover{
  color: red;
  background-color: #000;
  transition: 0.3s all;
}

.welcome{
  margin: 0;
  padding: 0 0 0 8.5vw;
  height: 45vh;
  width: 80vw;
  position: relative;
  top: -50px;

}
.logo-block{
  padding: 1px;
  background-color: red;
  width: 5.7vw;
  height: 5.7vw;
}
.row{
  margin: 2vh;  
}
.logo-div{
  width: 30vw;
  transform: rotate(45deg);
  position: absolute;
  right: 12vw;
  top: 20vh;
  height: 30vw;
  overflow: hidden;
  /* background-color: white; */
}
.customColumn{
  width: 16.66%;
  /* border: 1px solid black; */
  display: inline-block;
  height: 100%;
  padding: 1%;
  
}
.customRow{
  height: 16.66%;
  width: 100%;

}
.innerCustomColumn{
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
}
.cansimg-5{
  z-index: 9;
  position: absolute;
  height: 43.5vh;
  left: 7vw;
  top: 33.5vh;
}

.cansimg-4{
  z-index: 9;
  position: absolute;
  height: 33.5vh;
  left: 5.5vw;
  top: 35vh;
}

.cansimg-3{
  z-index: 9;
  position: absolute;
  height: 29vh;
  left: 7.8vw;
  top: 40.5vh;
}

.cansimg-2{
  z-index: 9;
  position: absolute;
  height: 10vh;
  left: 14.7vw;
  top: 60vh;
}
.cansimg-1{
  z-index: 9;
  position: absolute;
  height: 8.9vh;
  left: 17.7vw;
  top: 61vh;
}
.numberOfCans{
  color: white;
  font-family: 'GameOfSquids';
  position: absolute;
  top: 80vh;
  left: 12vw;
  font-size: 3rem;
}
.red{
  color: #FF0C49;
}
.question-div{
  width: 65%;
  margin-left: 7.5%;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.question{
  width: 85%;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 20px;
  color: white;
  font-family: 'GameOfSquids';
  padding: 1.5%;
  margin: 2vh;
  font-size: 1.4rem;
}
.answer-div{
  margin-left: 0.25vw;
  margin-bottom: 5vh;
}
.answer{
  background: url(./images/ans_bg.png);
  border-radius: 10px;
  padding: 1.5% 4%;
  margin: 2vh;
  width: 67%;
  color: white;
  font-family: 'GameOfSquids';
}
.landing input{
  color: white;
}