@font-face {
  font-family: 'gameofsquids';
  src: url('./fonts/GameOfSquids-1GMVL.eot');
  src: url('./fonts/GameOfSquids-1GMVL.ttf') format('truetype')
       url('./fonts/GameOfSquids-1GMVL.woff2') format('woff2')
       url('./fonts/GameOfSquids.woff') format('woff')
       url('./fonts/GameOfSquids.svg') format('svg')
}
.welcome{
  height: 80%;
}


.landing{
  background: url("./images/bg.png");
  min-height: 100vh;
}
.login{
  background-color: white;
  margin: auto;
  width: 25%; 

}
.welcome{
  margin: 0;
  padding: 5vh;
}